<div class="container-fluid">
    <button class="btn btn-default pull-right" ng-click="editClick()">Edit</button>
    <div class="row">
			<table class="table table-hover">
				<caption>Expenses</caption>
				<thead>
					<tr>
						<th>Name</th>
						<th>Amount</th>
						<th>Date</th>
						<th>Envelope</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="receipt in receiptArray">
						<td>{{receipt['name']}}</td>
						<td>${{receipt['amount']}}</td>
						<td>{{receipt['date']}}</td>
						<td>{{receipt['envelope']}}</td>
						<td ng-show="editStatus">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="updateClick($index)">
							  Update
							</button>
						</td>
						<td ng-show="editStatus"> <button type="button" class="btn btn-primary" ng-click="receiptDelete(receipt.id)">Delete {{receipt.id}}</button></td>
					</tr>
				</tbody>
			</table>
        </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update Expense</h4>
      </div>
      <div class="modal-body">
      	<form name="receiptUpdateForm" class"form-horizontal" novalidate>
      		Expense: 
      		<input ng-model="receiptName" name="receipt_name" class="form-control" ng-init="receiptName" required>
      		Amount: <span ng-hide="!receiptUpdateForm.receipt_amount.$error.number" class="formAlert">Must be a number.</span>
      		<input type="number" step="0.01" ng-model="receiptAmount" name="receipt_amount" class="form-control" required>  		
      		Envelope: 
			<select ng-model="receiptEnvelope" name="receipt_envelope" class="form-control" ng-options="item for item in envelopeArray">
				<option></option>
			</select>

      	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-disabled="receiptUpdateForm.$invalid" ng-click="receiptPatch()">{{receiptSaved}}</button>
      </div>
    </div>
  </div>
</div>


</div> <!-- container-fluid -->



