<!-- <div class="container-fluid"> -->
<div id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<!-- Preloader -->
	<div id="preloader">
	  <div id="load"></div>
	</div>

	<!-- Section: intro -->
    <section id="intro" class="intro">
	
		<div class="slogan">
			<a href="index.html"><img src="landingasset/img/logo.png" alt="" /></a>
			<h1>Grow your wealth. Worry-free living.</h1>
		</div>
    </section>
	<!-- /Section: intro -->
	
    <!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
                              <div class="container">
                                    <div class="row">
                                          <div class="col-md-12">
                         
                                          <!-- Brand and toggle get grouped for better mobile display -->
                                          <div class="navbar-header">
<!--                                                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button> -->
                                          </div>
                                                      <!-- Collect the nav links, forms, and other content for toggling -->
                                                      <div id="menu">
                                                            <ul class="nav navbar-nav">                   
                                                                  <li><a href="#register">Register</a></li>
														          <li><a href="#login">Sign in</a></li>                             
                                                            </ul>
                                                      </div>
                                                      <!-- /.Navbar-collapse -->
                             
                                          </div>
                                    </div>
                              </div>
                              <!-- /.container -->
                        </nav>
    </div> 
    <!-- /Navigation -->  

	<!-- Section: about -->
    <section id="about" class="home-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					
						<div class="section-heading text-center">
						<div class="wow bounceInDown" data-wow-delay="0.2s">
							<h2>Why use Budget Me?</h2>
						</div>
						<p class="wow bounceInUp" data-wow-delay="0.3s"></p>
						</div>
					
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-6">
				
					<img src="landingasset/img/img1.jpg" class="img-responsive img-rounded" alt="" />
				</div>		
				<div class="col-md-6">
					<p><strong>I already use Mint.com to track my expenses and set my budget.</strong></p>
					<p>
					Mint.com is awesome at tracking expenses, however, it does not help you understand how you should set a budget that will grow your wealth.  You also won't know just how much money you should realistically be setting aside as your fun money. Budget Me is a companion app that goes hand in hand with any method that you are currently using to track all your expenses.
					</p>
					<p><strong>It is too much effort to track every little thing I spend money on.</strong></p>
					<p> Budget Me specializes in one thing.  That is to help you track only the amount of fun money that you have to spare.  Adopting the simple saving rules based on Richard Jenkins' <a href="http://web.utah.edu/basford/personalfinance/handouts/budgeting/The60Solution.htm" target="_blank">60% solution</a>.  Needing only your monthly income, Budget Me immediately provides you the peace of mind of knowing just how much money is truly disposable.  Using the envelope method, you will track only expenses that come out of your fun money.  This is an app for reinforcing and developing good financial habits.  
					</p>
					<blockquote>
					Twenty years of complicated budget calculations have led me to this one simple conclusion: By limiting all essential spending to 60% of total income, savings will soar.
					<br/><span class="pull-right">- Richard Jenkins</span>
					</blockquote>
				</div>
			</div>		
		</div>
	</section>
	<!-- /Section: about -->
	
	<!-- Section: separator -->
    <section id="separator" class="home-section parallax text-center" data-stellar-background-ratio="0.5">
		
		<div class="container">
			<div class="row">
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center txt-shadow">
							<div class="icon">
								<i class="fa fa-smile-o fa-5x"></i>
							</div>
						<span class="color-white">100% free</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center txt-shadow">
							<div class="icon">
								<i class="fa fa-shopping-cart fa-5x"></i>
							</div>
						<span class="color-white">Guilt-free spending</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center txt-shadow">
							<div class="icon">
								<i class="fa fa-envelope fa-5x"></i>
							</div>
						<span class="color-white">Simple expense tracking</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center txt-shadow">
							<div class="icon">
								<i class="fa fa-bank fa-5x"></i>
							</div>
						<span class="color-white">Financial stability</span>
						</div>
					</div>
			</div>		
		</div>
	</section>
	<!-- /Section: separator -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<p>&copy;Copyright 2015 . Budget Me</p>
				</div>
			</div>	
		</div>
	</footer>
</div>

<!-- </div> --> <!-- container-fluid -->
