.formExpense {
  vertical-align: center;
  display: block;
  margin: 25px 25px 10px 25px;
  width: 200px;
}

.formAmount {
  vertical-align: center;
  display: block;
  margin: 0px 25px 10px 25px;
  width: 200px;
}

.formEnvelope {
  vertical-align: center;
  display: block;
  margin: 0px 25px 10px 25px;
  width: 200px;
}

.formButton {
  vertical-align: center;
  display: block;
  margin: 10px 25px 25px 25px;
  width: 200px;
}

.center-button {
  vertical-align: center;
  margin: 0;
  width: 100px;
}

.formInfo{
  color:white;
}

.formAlert{
  color:red;
}

.table thead>tr>th{
  font-weight: 700;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.trashCan {
  color: #7B1318;
  margin-left: 30px;
  cursor: hand;
  cursor: pointer;
}

.pencilEdit {
  color: #0047B2;
  margin-left: 5px;
  cursor: hand;
  cursor: pointer;
}

.toggleMenu {
  font-size: 20px;
}

#cursorSwitch:hover{
  cursor: hand;
  cursor: pointer;
}
