.formExpense {
  vertical-align: center;
  display: block;
  margin: 25px 25px 10px 25px;
  width: 200px;
}

.formAmount {
  vertical-align: center;
  display: block;
  margin: 0px 25px 10px 25px;
  width: 200px;
}

.formEnvelope {
  vertical-align: center;
  display: block;
  margin: 0px 25px 10px 25px;
  width: 200px;
}

.formButton {
  vertical-align: center;
  display: block;
  margin: 10px 25px 25px 25px;
  width: 200px;
}

.center-button {
  vertical-align: center;
  margin: 0;
  width: 100px;
}

.formInfo{
  color:white;
}

.formAlert{
  color:red;
}