<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Budget Me</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/simple-sidebar.css">
    <!-- endbuild -->
    <!-- D3 dependencies -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>
    <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <link rel="stylesheet" href="bower_components/nvd3/nv.d3.css"/>

    <!-- landing CSS -->
    <link href="landingasset/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="landingasset/css/nivo-lightbox.css" rel="stylesheet" />
    <link href="landingasset/css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
    <link href="landingasset/css/owl.carousel.css" rel="stylesheet" media="screen" />
    <link href="landingasset/css/owl.theme.css" rel="stylesheet" media="screen" />   
    <link href="landingasset/css/animate.css" rel="stylesheet" />
    <link href="landingasset/css/style.css" rel="stylesheet">
    <link href="landingasset/color/default.css" rel="stylesheet">
    <!-- end landing CSS -->

  </head>
  <body ng-app="budgetmeApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-controller="MainCtrl" id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#/login" ng-if="loginName">Welcome Back, <span ng-bind="loginName"></span></a> 
                </li>
                <li>
                    <a href="#/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="#/envelope">Envelope</a>
                </li>
                <li>
                    <a href="#/expense">Expenses</a>
                </li>
                <li>
                    <a href="#/record">Expense Records</a>
                </li>
                <li>
                    <a href="#/logout">Logout</a>
                </li>
                <li>
                    <form name="expenseEntry" class="form-horizontal" novalidate>
                        <div class="formExpense">
                        <input ng-model="expenseName" name="expense_name" class="form-control input-lg" type="text" placeholder="Expense Name"  required>
                        </div>

                        <div class="formAmount">
                        <input ng-model="expenseAmount" name="expense_amount" class="form-control input-lg" type="number" placeholder=0.00 min="1" step="0.01" required>
                        <span ng-hide="!expenseEntry.expense_amount.$error.number" class="formAlert">Must be a number.</span>
                        </div>

                        <div class="formEnvelope">
                        <select ng-model="envelopeOption" name="envelope_option" class="form-control input-lg" ng-options="item.name for item in envelopeArray track by item.id" required>
                            <option></option>
                        </select>
                        </div>
                    </form>
                    <button class="btn btn-primary btn-lg formButton" ng-disabled="expenseEntry.$invalid" type="button" ng-click="expenseSubmit(expenseName, expenseAmount, envelopeOption)" ng-bind="submitStatus"></button>
                </li>
                <li>
                    <img src="landingasset/img/logo_200.png" alt="logo" class="sidelogo" />
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

    <span id="menuButton" class="btn glyphicon glyphicon-menu-hamburger toggleMenu" ng-click="toggle()" ng-if="loginName"></span>

        <!-- <div id="page-content-wrapper"> -->
            <div ng-view=""></div>
        <!-- </div> --> <!-- page-content-wrapper end -->
    </div> <!-- wrapper end tag -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/djangoAuth.js"></script>
        <script src="scripts/services/validate.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/logout.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/landing.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/controllers/envelope.js"></script>
        <script src="scripts/controllers/expense.js"></script>
        <script src="scripts/controllers/record.js"></script>
        <!-- endbuild -->

        <!-- landing page js -->
        <script src="landingasset/js/jquery.easing.min.js"></script> 
        <script src="landingasset/js/jquery.sticky.js"></script>
        <script src="landingasset/js/jquery.scrollTo.js"></script>
        <script src="landingasset/js/stellar.js"></script>
        <script src="landingasset/js/wow.min.js"></script>
        <script src="landingasset/js/owl.carousel.min.js"></script>
        <script src="landingasset/js/nivo-lightbox.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="landingasset/js/custom.js"></script>
        <!-- end landing page -->
</body>
</html>
