<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/simple-sidebar.css">
    <!-- endbuild -->
  </head>
  <body ng-app="budgetmeApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-controller="MainCtrl" id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap <span ng-bind="loginName"</span>
                    </a>
                </li>
                <li>
                    <a href="#/">Dashboard</a>
                </li>
                <li>
                    <a href="#">Envelope</a>
                </li>
                <li>
                    <a href="#">Expenses</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#/about">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <form name="expenseEntry" class="form-horizontal">
                        <input ng-model="expenseName" name="expense_name" class="form-control input-lg formspace" type="text" placeholder="Expense Name" required>

                        <input ng-model="expenseAmount" name="expense_amount" class="form-control input-lg formspace" type="number" placeholder="Expense Amount" min="1" required>

                        <select ng-model="envelopeOption" name="envelope_option" class="form-control input-lg formspace" ng-options="item for item in envelopeArray" required>
                            <option></option>
                        </select>
                    </form>
                    <button class="btn btn-primary btn-lg formspace" type="button" ng-click="expenseSubmit(expenseName, expenseAmount, envelopeOption)">Submit</button>
                    <span ng-show="problem">You are missing a field</span>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

    <a class="btn btn-default" ng-click="toggle()">Toggle Menu</a>


        <div id="page-content-wrapper">
            <div ng-view=""></div>
        </div> <!-- page-content-wrapper end -->
    </div> <!-- wrapper end tag -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/djangoAuth.js"></script>
        <script src="scripts/services/validate.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/logout.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <!-- endbuild -->
</body>
</html>
